*.obj 
*.pdb 
*.ilk 
*.exp 
*.lib 
*.log 
*.tlog 
*.lastbuildstate 
Debug/ 
Release/ 
x64/*/ 
x64/*.obj 
x64/*.pdb 
x64/*.ilk 
x64/*.exp 
x64/*.lib 
.vs/ 
*.suo 
*.user 
!x64/Release/*.exe
!x64/Debug/*.exe

